# Dependencies
node_modules/
.pnp
.pnp.js
venv/
__pycache__/
*.pyc
.env
.env.local
.env.*.local

# Build / output
dist/
build/
.next/
out/
*.log
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional
*.local
